body{ 
    font-family: 'Roboto', sans-serif;
}
.box{
        width: 900px;
        height: 920px;  
        text-align: center; 
        margin-top: 300px;  
        float: left;
    }   
    
    .grey-background {
        background-color: rgb(242, 242, 242);
}
#box1{
margin-right: 87px;
}
.box-centered{
    width: 1400px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
}

p{
    text-align: center; 
}

h1{
    text-align: center;
    font-size: 80px;
}

h2{
    text-align: center;
    font-size: 50px;
}

h4{
    text-align: center;
    margin: 0 auto;
    padding: 0 auto;
}

.orange{
    color: orange;
}

.little{
    font-size: 30px;
}

.prize{
    font-size: 20px;
}

.both-down{
    font-size: 25px;
}

input{
    border-radius: 30px;
    background-color: #0283D1;
    color: white;
    height: 40px;
    width: 110px;
    border: 0px;
}

.boton-comprar{
    margin: 0 auto;
}

.box-abajo{
    width: 500px;
    height: 500px;
    margin: 0 auto;
    margin-top: 1500px;
    text-align: center;
}

.bottom-images{
    margin: 0 auto;
    display: block;
}

.top-image{
    margin: 0 auto;
    display: block;
}